window {
        background-color: rgba (0, 0, 0, 0.0);
		box-shadow: none;
}

/* Outer bar container, takes all the window width/height */
#outer-box {
	margin: 0px
}

/* Inner bar container, surrounds buttons */
#inner-box {
	background-color: #1d2021;
	border-radius: 10px;
	border-style: none;
	border-width: 1px;
	border-color: rgba (156, 142, 122, 0.7);
	padding: 5px;
	margin: 5px;
	box-shadow: none
}

button, image {
	background: none;
	border: none;
	box-shadow: none
}

button svg{
	color: red;
	box-shadow: none;
}

button {
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px
}

button:hover {
	background-color: #0f0f0f;;
}